html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  position: sticky;
  top: 0;
  z-index: 1;
}

.footer {
  margin-bottom: 0;
  width: 100%;
  text-align: center;
  color: #ffffff;
  font-weight: 500;
  padding: 5px 0;
  font-size: 12px;
  background-color: #001529;
}


main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 92vh;
}

/* css login page */
.login-pages {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-size: cover;
  margin: 0 !important;
  background-color: #001529;
}

.container-login {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: 12px;
  width: 70%;
  min-height: 80vh;
  background-color: #ffffffe8;
  border: 2px solid #001529;
}

.img-login img {
  width: 100%;
  height: 100%;
  animation: animation-img-login 5s linear infinite;
}

.header nav {
  height: 100%;
}

.header {

  background-color: #001529;
}

.header-main {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;
  box-shadow: rgb(50 50 93 / 25%) 0px 2px 5px -1px, rgb(0 0 0 / 30%) 0px 1px 3px -1px;
  background-color: #001529;
  /* max-width: 1620px; */
  margin: 0 auto;

}

.top-header {
  width: 100%;
  height: 20px;
  background-color: black;
}

.logo {
  height: 100%;
  padding: 5px 0;
}

.header-main .ant-space-item {
  height: 100%;
  display: flex;
  align-items: center;
}

.logo img {
  width: 100%;
  height: 100%;
}

.wrapper {
  padding: 10px;
  min-height: 92vh;
  /* max-width: 1920px; */
  max-width: 1620px;
  margin: 0 auto;
  width: 100%;
}

.card-post .ant-card-body {
  padding: 12px;
}

.card-post .ant-card-cover {
  background-color: #001529;
  border-radius: 8px 8px 0 0;
}

.card-post .ant-card-meta-title {
  display: inline-block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 0 !important;
}

.card-post .ant-card-meta-description {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-post .date-post {
  margin-top: 10px;
  font-style: italic;
}

.center-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.box-posts {
  width: 100%;
}

.side-bar-post,
.side-bar-category {
  border-left: 1px solid #c2c2c2;
}

.img-post-sidebar {
  border-radius: 6px 0 0 6px;
}

.item-post-sidebar:hover .img-post-sidebar {}

.description-post-sidebar {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  margin-bottom: 0 !important;
}

p>img {
  max-width: 100%;
}